.header
    color: red
    display: flex
    justify-content: space-between
    align-items: center
    &__nav 
        flex-grow: 1
    &__logo
        display: flex
        justify-content: flex-start
        

.logo 
    flex-grow: 1
    &__img
        width: 108px
        height: 24px

.nav
    display: flex
    justify-content: space-around
    &__item
        color: red

.account
    display: flex
    align-items: center
    justify-content: flex-end
    flex-grow: 1
    &__item
        line-height: 21px
        font-size: 17px




