@import fonts

a
    text-decoration: none

.body
    background-color: #0B1D26

.container
    max-width: 1200px
    padding: 0 15px
    margin: 0 auto
    box-sizing: border-box

@import header

.picture
    height: 700px
    &-main
        filter: brightness(90%)
        position: absolute
        top: 0
        left: 0
        height: 900px
        width: 100%
        z-index: 0
        object-fit: cover
    &::after
        content: ""
        display: block
        position: absolute
        left: 0
        top: 280px
        width: 100%
        height: 800px
        z-index: auto
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%)

.heading
    z-index: 100
    position: relative
    font-family: "Chronicle Display", "Times New Roman", serif
    text-transform: capitalize
    color: white
    font-size: 64px
    font-weight: 600
    line-height: 77px

.over-heading
    font-family: Gilroy, sans-serif
    font-weight: 800
    z-index: 100
    position: absolute
    top: -32px
    left: 0
    color: #FBD784
    text-transform: uppercase
    letter-spacing: 6px
    margin-left: 104px
    font-size: 18px
    line-height: 22px
    &:before
        content: " "
        display: block
        width: 72px
        height: 2px
        position: absolute
        border-top: 2px solid #FBD784
        left: -104px
        top: 11px

.scroll-down
    position: absolute
    z-index: 100
    color: white
    left: 0
    font-family: Gilroy, sans-serif
    font-size: 18px
    line-height: 22px
    font-weight: 700
    text-transform: lowercase
    margin-top: 32px
    &::after
        content: ""
        display: block
        position: absolute
        right: -32px
        top: 0
        width: 16px
        height: 24px
        background-image: url(img/down.svg)

.instagram,
.twitter
    position: absolute
    z-index: 100
    left: 0
    color: white
    font-size: 18px

.social
    color: white
    font-size: 18px
    font-family: Gilroy, sans-serif
    font-weight: 700
    line-height: 22px
    position: absolute
    left: -20px
    top: 40vh
    z-index: 100
    transform: rotate(90deg)
    &__inst
        left: 88px
        bottom: 0
    &__twitter
        left: 115px
        bottom: 0

.main
    &__heading
        font-size: 88px
        line-height: 100px
        margin: 0 auto
        margin-top: 25vh
        max-width: 950px
