@charset "UTF-8";
@font-face {
  font-family: 'Chronicle Display';
  src: url("fonts/Chronicle Display Semibold.eot");
  src: local("☺"), url("fonts/Chronicle Display Semibold.woff") format("woff"), url("fonts/Chronicle Display Semibold.ttf") format("truetype"), url("fonts/Chronicle Display Semibold.svg") format("svg");
  font-weight: Semibold;
  font-style: normal;
}

@font-face {
  font-family: 'Chronicle Display';
  src: url("../fonts/ChronicleDisp-Roman.eot");
  src: local("☺"), url("../fonts/ChronicleDisp-Roman.woff") format("woff"), url("../fonts/ChronicleDisp-Roman.ttf") format("truetype"), url("../fonts/ChronicleDisp-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Bold.eot");
  src: url("fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Bold.woff") format("woff"), url("fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-ExtraBold.eot");
  src: url("fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-ExtraBold.woff") format("woff"), url("fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

a {
  text-decoration: none;
}

.body {
  background-color: #0B1D26;
}

.container {
  max-width: 950px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 23px;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 18;
  max-width: 1200px;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  z-index: 10;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  z-index: 10;
}

.logo__img {
  width: 108px;
  height: 24px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav__item {
  color: white;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  z-index: 10;
}

.account__item {
  color: white;
  line-height: 21px;
  font-size: 17px;
  margin-left: 8px;
}

.picture {
  height: 335px;
}

.picture-main {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  position: absolute;
  top: 0;
  left: 0;
  height: 900px;
  width: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.picture::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 280px;
  width: 100%;
  height: 800px;
  z-index: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 29, 38, 0)), color-stop(61.38%, #0B1D26));
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
}

.heading {
  z-index: 100;
  position: relative;
  font-family: "Chronicle Display", "Times New Roman", serif;
  text-transform: capitalize;
  color: white;
  font-size: 64px;
  font-weight: 600;
  line-height: 77px;
}

.paragraph {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: white;
  position: relative;
  z-index: 100;
}

.over-heading {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  z-index: 100;
  position: absolute;
  top: -32px;
  left: 0;
  color: #FBD784;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-left: 104px;
  font-size: 18px;
  line-height: 22px;
}

.over-heading:before {
  content: " ";
  display: block;
  width: 72px;
  height: 2px;
  position: absolute;
  border-top: 2px solid #FBD784;
  left: -104px;
  top: 11px;
}

.scroll-down {
  position: absolute;
  z-index: 100;
  color: white;
  left: 0;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: lowercase;
  margin-top: 32px;
}

.scroll-down::after {
  content: "";
  display: block;
  position: absolute;
  right: -32px;
  top: 0;
  width: 16px;
  height: 24px;
  background-image: url(img/down.svg);
}

.instagram,
.twitter {
  position: absolute;
  z-index: 100;
  left: 0;
  color: white;
  font-size: 18px;
}

.social {
  color: white;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  font-weight: 700;
  line-height: 22px;
  position: absolute;
  left: -20px;
  top: 40vh;
  z-index: 100;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.social__inst {
  left: 88px;
  bottom: 0;
}

.social__twitter {
  left: 115px;
  bottom: 0;
}

.main__heading {
  font-size: 88px;
  line-height: 100px;
  margin: 0 auto;
  margin-top: 25vh;
  max-width: 950px;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__img {
  z-index: 100;
  max-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.article__paragraph {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 100px;
}

.article__number {
  font-family: Gilroy, sans-serif;
  font-weight: bold;
  font-size: 240px;
  line-height: 240px;
  color: #FFFFFF;
  opacity: 0.1;
  position: absolute;
  top: -107px;
  left: -148px;
}
/*# sourceMappingURL=style.css.map */